go 1.24.3

use (
	./cleverchatty-cli
	./cleverchatty-server
	./core
	./dev_tools/email_mock/http-server
	./dev_tools/email_mock/shared
	./dev_tools/email_mock/stdio-server
	./dev_tools/listener_verify
	./dev_tools/notifications_client/http-client
	./dev_tools/notifications_client/http-server
	./dev_tools/notifications_client/shared
	./dev_tools/notifications_client/stdio-client
	./dev_tools/notifications_client/stdio-server
	./dev_tools/reverse_mcp_server
)
